@model kindergartenNetwork.Models.NewsModels.MediaAlbumsModel
@using (Html.BeginForm("SaveMediaAlbum", "ControlPanel", FormMethod.Post, new { @onsubmit = "return false;", @id = "SaveAlbumForm", name = "SaveAlbumForm" }))
{
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                @if (Model.OMediaAlbum.Id > 0)
                {
                <h4 class="modal-title"> @kindergartenNetwork.Resources.PublicNews.Edit @kindergartenNetwork.Resources.PublicNews.ImagesGallary </h4>
                    <input type="hidden" value="@Model.OMediaAlbum.Id" Name="Id" data-field="" />

                }
                else
                {
                    <h4 class="modal-title"> @kindergartenNetwork.Resources.PublicNews.Add @kindergartenNetwork.Resources.PublicNews.ImagesGallary </h4>

                }
            </div>
            <div class="modal-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button> @kindergartenNetwork.Resources.PublicNews.ErrorInField.
                </div>
                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button>
                </div>
                <div class="form-horizontal ">
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="hdImage" name="Thumbinal" value="@Model.OMediaAlbum.Thumbinal" />
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="col-md-4 control-label">@kindergartenNetwork.Resources.PublicNews.Name</label>
                                <div class="col-md-8">
                                    <div class="formElement">
                                        <input type="text" id="tbName" value="@Model.OMediaAlbum.Name" name="Name" class="form-control" placeholder="@kindergartenNetwork.Resources.PublicNews.Name" data-field="@kindergartenNetwork.Resources.PublicNews.Name" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">@kindergartenNetwork.Resources.PublicNews.DescriptionAr</label>
                                <div class="col-md-8">
                                    <div class="formElement">
                                        <textarea rows="3" class="form-control" name="Description" placeholder="@kindergartenNetwork.Resources.PublicNews.DescriptionAr" data-field="@kindergartenNetwork.Resources.PublicNews.Description">@Model.OMediaAlbum.Description</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="col-md-12">
                                    @*<label>الصورة</label>*@
                                    <div class="fileinput fileinput-new @*@(Model.ONews.Image != null ? " fileinput fileinput-exists" : "fileinput fileinput-new" )*@" data-provides="fileinput" style="width:100%">
                                        <div class="fileinput-new thumbnail" style="width: 100%; height: 120px;">
                                            <img id="img" src="@(Model.OMediaAlbum.Id > 0 ? "/Content/UploadedFile/Albums/Thumbnail/" + Model.OMediaAlbum.Thumbinal : "http://www.placehold.it/120x100/EFEFEF/AAAAAA&amp;text=no+image")" alt="" />
                                        </div>
                                        <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 100%; max-height: 120px;">

                                        </div>
                                        <div>
                                            <span class="btn btn-default btn-file">
                                                <span class="fileinput-new">@kindergartenNetwork.Resources.PublicNews.SelectImage</span>
                                                <span class="fileinput-exists">@kindergartenNetwork.Resources.PublicNews.Change</span>
                                                <input id="imgUploadUser" type="file" name="Image">
                                            </span>
                                            <a href="#" class="btn btn-default fileinput-exists uploderRemoveImg" data-dismiss="fileinput">@kindergartenNetwork.Resources.PublicNews.Remove</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    @*<div class="form-group">
                        <label class="col-md-2 control-label">@kindergartenNetwork.Resources.PublicNews.Description</label>
                        <div class="col-md-10">
                            <div class="formElement">
                                <textarea rows="3" class="form-control" name="Description" placeholder="@kindergartenNetwork.Resources.PublicNews.Description" data-field="@kindergartenNetwork.Resources.PublicNews.Description">@Model.OMediaAlbum.Description</textarea>
                            </div>
                        </div>
                    </div>*@
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">@kindergartenNetwork.Resources.PublicNews.Close</button>
                <button type="submit" class="btn green btn-outline">@kindergartenNetwork.Resources.PublicNews.Save</button>
                <button type="reset" class="btn red btn-outline">@kindergartenNetwork.Resources.PublicNews.Reset</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
}