
<div class="portlet light portlet-fit ">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-layers font-red-thunderbird"></i>
            <span class="caption-subject font-red-thunderbird bold uppercase">@ViewBag.PageTitle</span>
        </div>
        @*<div class="actions portelActionPadding">
                <a href="javascript:;" class="btn btn-circle btn-default Add btnSaveCategory" data-id="0">
                    <i class="fa fa-plus"></i> @kindergartenNetwork.Resources.PublicNews.Add @kindergartenNetwork.Resources.PublicNews.Category
                </a>
            </div>*@
        <button type="button" class="btn btnx blue btn-outline btn-md pull-right btnSaveCategory" data-id="0"><i class="fa fa-plus"></i></button>
    </div>
    <div class="portle-body">
        <table class="table table-bordered table-advance table-hover" id="tblCategories" style="width: 100%">
            <thead>
                <tr>
                    <th scope="col"> @kindergartenNetwork.Resources.PublicNews.Name</th>
                    @*<th scope="col"> @kindergartenNetwork.Resources.PublicNews.NameEn</th>*@
                    <th scope="col"><i class="icon-settings"></i></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

    </div>
</div>


@section style{
    @Styles.Render("~/DataTables/css")
    @Styles.Render("~/DateTimePickers/css")
    <link href="~/Content/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" />
}
@section scripts{
    @Scripts.Render("~/DataTables/Js")
    @Scripts.Render("~/Typeahead/Js")
    @Scripts.Render("~/DateTimePickers/js")
    <script src="~/Content/assets/global/plugins/bootbox/bootbox.min.js"></script>
    <script src="~/Content/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js"></script>
    <script src="~/Content/assets/global/plugins/jquery-validation/js/jquery.validate.js"></script>
    <script src="~/Scripts/ControlPanelScripts.js"></script>
}
@section OnReadyScripts
{
    ControlPanelScripts.initCategory();
}