@model kindergartenNetwork.Models.NewsModels.StaticPageModel
@{
    ViewBag.PageTitle = ViewBag.LangId == 1 ? Model.OStaticPage.PageName : Model.OStaticPage.PageName;
}
@using (Html.BeginForm("SaveStaticPage", "ControlPanel", FormMethod.Post, new { @onsubmit = "return false;", @id = "SaveStaticPageForm", name = "SaveStaticPageForm" }))
{
    <div class="portlet light portlet-fit bg-inverse">
        <div class="portlet-title">
            <div class="caption">

                <span class="caption-subject font-red-thunderbird bold uppercase"> @kindergartenNetwork.Resources.PublicNews.Edit - @Model.OStaticPage.PageName</span>
                <input type="hidden" value="@Model.OStaticPage.Id" Name="Id" data-field="" />
            </div>

        </div>
        <div class="portle-body">

            <div class="modal-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button> @kindergartenNetwork.Resources.PublicNews.ErrorInField.
                </div>
                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button>
                </div>
                    <div class="form-horizontal ">

                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label class="col-md-2 control-label">رقم جوال</label>
                            <div class="col-md-10">
                                <div class="formElement">
                                    <input type="text" id="tbMobile" value="@Model.OStaticPage.Mobile" name="Mobile" class="form-control" placeholder="رقم جوال" data-field="رقم جوال" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">رقم هاتف</label>
                            <div class="col-md-10">
                                <div class="formElement">
                                    <input type="text" id="tbPhone" value="@Model.OStaticPage.Phone" name="Phone" class="form-control" placeholder="رقم هاتف" data-field="رقم هاتف" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">إيميل 1</label>
                            <div class="col-md-10">
                                <div class="formElement">
                                    <input type="text" id="tbEmail1" value="@Model.OStaticPage.Email1" name="Email1" class="form-control" placeholder="إيميل 1" data-field="إيميل 1" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">إيميل 2</label>
                            <div class="col-md-10">
                                <div class="formElement">
                                    <input type="text" id="tbEmail2" value="@Model.OStaticPage.Email2" name="Email2" class="form-control" placeholder="إيميل 2" data-field="إيميل 2" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">العنوان</label>
                            <div class="col-md-10">
                                <div class="formElement">
                                    <input type="text" id="tbTitle" value="@Model.OStaticPage.Title" name="Title" class="form-control" placeholder="العنوان" data-field="العنوان" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">@kindergartenNetwork.Resources.PublicNews.Description</label>
                            <div class="col-md-10">
                                <div class="formElement">
                                    <textarea id="tbDescription" rows="10" name="Description" class="form-control tbSummerNote" placeholder="@kindergartenNetwork.Resources.PublicNews.Description" data-field="@kindergartenNetwork.Resources.PublicNews.Description">@Model.OStaticPage.Description</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline closeModal">@kindergartenNetwork.Resources.PublicNews.Close</button>
                <button type="submit" class="btn green btn-outline">@kindergartenNetwork.Resources.PublicNews.Save</button>
                <button type="reset" class="btn red btn-outline">@kindergartenNetwork.Resources.PublicNews.Reset</button>
            </div>
        </div>
    </div>
}
@section style{
    @Styles.Render("~/DataTables/css")
    <style>
        table.dataTable tbody td {
            vertical-align: middle !important;
        }
    </style>
    <link href="~/Content/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" />
    <link href="~/Content/assets/global/plugins/bootstrap-summernote/summernote.css" rel="stylesheet" />
}
@section scripts{
    @Scripts.Render("~/DataTables/Js")
    @Scripts.Render("~/Typeahead/Js")

    <script src="~/Content/assets/global/plugins/bootstrap-summernote/summernote.js"></script>
    <script src="~/Content/assets/global/plugins/bootstrap-summernote/lang/summernote-ar-AR.js"></script>
    <script src="~/Content/assets/global/plugins/bootbox/bootbox.min.js"></script>
    <script src="~/Content/assets/global/plugins/loadingoverlay/src/loadingoverlay.min.js"></script>
    <script src="~/Content/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js"></script>
    <script src="~/Content/assets/global/plugins/jquery-validation/js/jquery.validate.js"></script>
    <script src="~/Scripts/ControlPanelScripts.js"></script>
}
@section OnReadyScripts
{
    ControlPanelScripts.initStaticPages();
}