@model kindergartenNetwork.Models.PublicNews.News
@{
    ViewBag.Title = kindergartenNetwork.Resources.PublicNews.Articles + " | " + kindergartenNetwork.Resources.PublicNews.ProjectName;
    Layout = "~/Views/Shared/_DefLayout.cshtml";
    var pageHdr = DAL.News.PagesHdr.GetPagesHdr(new DTO.News.PagesHdr { Id = 4 }).Results.First();
}

<!-- Start Page Title Area -->
<div class="page-title-area bg-15" style="background-image: url(../Content/UploadedFile/News/Original/@pageHdr.Image)">
    <div class="container">
        <div class="page-title-content">
            <h2>المقالات</h2>
            <ul>
                <li>
                    <a href="@Url.Action("Index","Home",null,Request.Url.Scheme)">
                        @kindergartenNetwork.Resources.PublicNews.Home
                    </a>
                </li>

                <li class="active">@kindergartenNetwork.Resources.PublicNews.Articles</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Title Area -->
<!-- Start Blog Column One Area -->
<div class="blog-column-one-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog-column-ome">
                    <div class="row">
                        @if (Model.count > 0)
                        {
                            foreach (var news in Model.LstNews)
                            {
                                <div class="col-lg-12 col-md-6">
                                    <div class="single-news">
                                        <a href="@Url.Action("Details", "Articles", new {id = news.Id}, Request.Url.Scheme)">
                                            <img width="810" src="/Content/UploadedFile/News/Original/@news.Image" onerror="this.onerror = null;this.src = '/Content/UploadedFile/News/NoImage.png';" alt="Image">
                                        </a>

                                        <div class="news-content">
                                            <span class="tag">@news.OCategory.NameAr</span>

                                            <a href="@Url.Action("Details", "Articles", new {id = news.Id}, Request.Url.Scheme)">
                                                <h3>@news.Title </h3>
                                            </a>

                                            <p>@news.Summary</p>

                                            <ul class="lessons">
                                                <li>بواسطة: <a href="#">@news.OInsertedBy.Name</a></li>
                                                <li class="float">تم النشر في @news.PublishDate.ToString("dd/MM/yyyy")</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            }
                        }

                            <div class="col-lg-12 col-md-12">
                                <div class="pagination-area">
                                    @{
                                        var totalPages = Convert.ToInt32(Math.Ceiling(Model.count / 4.0));
                                        var currentPage = Request.QueryString["page"] != null ? Convert.ToInt32(Request.QueryString["page"]) : 1;
                                        var startPage = currentPage - 5;
                                        var endPage = currentPage + 4;
                                        if (startPage <= 0)
                                        {
                                            endPage -= (startPage - 1);
                                            startPage = 1;
                                        }
                                        if (endPage > totalPages)
                                        {
                                            endPage = totalPages;
                                            if (endPage > 5)
                                            {
                                                startPage = endPage - 4;
                                            }
                                        }

                                        var TotalItems = Model.count;
                                        var CurrentPage = currentPage;
                                        var TotalPages = totalPages;
                                        var StartPage = startPage;
                                        var EndPage = endPage;

                                        if (EndPage > 1)
                                        {

                                            if (CurrentPage > 1)
                                            {
                                            @*<li><a href="@Url.Action("Index","News",new{ id = !String.IsNullOrEmpty(Request.QueryString["id"]) ? Convert.ToString(Request.QueryString["id"]):Url.RequestContext.RouteData.Values["id"],page=currentPage-1})"><i class="fa fa-angle-right"></i>@kindergartenNetwork.Resources.PublicNews.Previous</a></li>*@

                                                <a href="@Url.Action("Index", "Articles", new {id = !String.IsNullOrEmpty(Request.QueryString["id"]) ? Convert.ToString(Request.QueryString["id"]) : Url.RequestContext.RouteData.Values["id"], page = currentPage - 1})" class="next page-numbers">
                                                    <i class="bx bx-chevron-right"></i>
                                                </a>
                                            }
                                            for (var page = StartPage; page <= EndPage; page++)
                                            {
                                                if (page == CurrentPage)
                                                {
                                                    <span class="page-numbers current" aria-current="page">@page</span>
                                                }
                                                else
                                                {
                                                    <a href="@Url.Action("Index", "Articles", new {id = !String.IsNullOrEmpty(Request.QueryString["id"]) ? Convert.ToString(Request.QueryString["id"]) : Url.RequestContext.RouteData.Values["id"], page})" class="page-numbers">@page</a>
                                                }

                                            @*<li class="@(page == CurrentPage ? "active" : "")"><a href="@Url.Action("Index","News",new{ id = !String.IsNullOrEmpty(Request.QueryString["id"]) ? Convert.ToString(Request.QueryString["id"]):Url.RequestContext.RouteData.Values["id"],page=page})">@page</a></li>*@
                                            }
                                            if (currentPage < totalPages)
                                            {
                                            @*<li><a href="@Url.Action("Index","News",new{ id = !String.IsNullOrEmpty(Request.QueryString["id"]) ? Convert.ToString(Request.QueryString["id"]):Url.RequestContext.RouteData.Values["id"],page=currentPage+1})">@kindergartenNetwork.Resources.PublicNews.Next<i class="fa fa-angle-left"></i></a></li>*@
                                                <a href="@Url.Action("Index", "Articles", new {id = !String.IsNullOrEmpty(Request.QueryString["id"]) ? Convert.ToString(Request.QueryString["id"]) : Url.RequestContext.RouteData.Values["id"], page = currentPage + 1})" class="previous page-numbers">
                                                    <i class="bx bx-chevron-left"></i>
                                                </a>
                                            }

                                        }
                                    }
                                </div>
                            </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="widget-sidebar">
                    <div class="sidebar-widget search">
                        <form class="search-form">
                            <input class="form-control" name="search" placeholder="@kindergartenNetwork.Resources.PublicNews.Search" type="text">
                            <button class="search-button" type="submit">
                                <i class="bx bx-search"></i>
                            </button>
                        </form>
                    </div>

                    <div class="sidebar-widget categories">
                        <h3>التصنيفات</h3>

                        <ul>
                            @if (Model.LstCategories != null && Model.LstCategories.Count > 0)
                            {
                                foreach (var category in Model.LstCategories)
                                {
                                    <li>
                                        <a href="@Url.Action("Index", "Articles", new {category = category.Id})">@category.NameAr</a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                    
                    @{
                        var lstMore = new List<DTO.News.News>();
                        var getNews = DAL.News.News.NewsGet(new DTO.News.News{IsArticle = true,Page = currentPage + 1, RowPerPage = 4, SortCol = "PublishDate" }, 0);
                        if (getNews.HasResult)
                        {
                            lstMore = getNews.Results;
                        }
                    }
                    @if (lstMore != null && lstMore.Count > 0)
                    {
                        <div class="sidebar-widget popular-post">
                            <h3 class="widget-title">مقالات أخرى</h3>

                            <div class="post-wrap">
                                @foreach (var more in lstMore)
                                {
                                    <div class="item">
                                        <a href="@Url.Action("Details", "Articles", new {id = more.Id}, Request.Url.Scheme)" class="thumb">
                                            <img width="80" height="100" src="/Content/UploadedFile/News/Thumbnail/@more.Image" onerror="this.onerror = null;this.src = '/Content/UploadedFile/News/NoImage.png';" alt="Image">
                                        </a>

                                        <div class="info">
                                            <h4 class="title">
                                                <a href="@Url.Action("Details", "Articles", new {id = more.Id}, Request.Url.Scheme)">@more.Title</a>

                                                <span class="date">@more.PublishDate.ToString("dd-MM-yyyy")</span>
                                            </h4>
                                        </div>
                                    </div>
                                }
                                
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Blog Column One Area -->
